body{
	background-color:#333333; 
	/* background-color:#EFF1F1; */
	 

	padding:0px 0px 0px 0px;
	font: normal 1em/1.5 Georgia, serif;
}


#Content
{	
	padding-top:150px;
	background-color:#8b6840;
	 background-image:url("recycled-paper-texture.jpg");
	border: 2px solid gray; 
	padding-bottom:102px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;	
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}


#Title
{
	font:normal Sans, Comics;
	text-align:center;
	color:white;
}

#Header
{
	background-color:#333333;
	border-width:0px;
	width:450px;
	height:60px;
	position:absolute;
	display:inline-block;
	left:0px;
	top:70px;
}

#Logo
{
	position:absolute;
	left:15px;
	top:-25px;
}

.ActiveMarker
{
	display:inline;
	color:#00f;
	background:#000;
	border-width:15px
	
	filter:alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
}
.ActiveMarker:hover
{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
}

.Category
{
	display: block;
	width:800px;
	min-height:75px;
	background:white;
	margin-left: auto;
   	margin-right: auto;
   	
   	margin-top:30px;
   	margin-bottom:30px;
   	
	border: 1px solid gray; 
	padding:10px 20px 10px 20px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
}

#Summary
{
	display: block;
	width:800px;
	min-height:75px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:80px;
}

.CategoryName
{
	display:block;
}
.CategoryTotal
{
	display:block;
	text-align:right;
	color:black;
	clear:right;
}

#Logo
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#CatHeader
{
}

#more{
	text-align:center;
	font-size:12px;
}


#more:hover{
	font-size:13px;
}

.CatNav
{
	font-size:12px;
	color: #444444;
	text-align:right;
}
.CatNav:hover
{
	color: #000000;
}

.Percentage
{
	border: 0px solid #aaaaaa;
	background: #ffffff;
	color: #ff6600;
	font-size: 1.1em;
	width:35px;
	height:35px;
	float:right;
}
.Percentage:hover
{
	border: 1px solid #aaaaaa;
}

.GradeValue
{
	float:right;
	width:40px;
	padding:2 2 2 2;
	border:0px solid #ffffff;
}

#FinalGradeValue1
{
	display:block;
	width:50px;
	height:50px;
	
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.GradeName
{
	width:300px;
	padding:2 2 2 2;
	border: 0px solid #ffffff;
}
.GradeName:hover, .GradeName:active, .GradeValue:hover, .GradeValue:active
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border: 1px solid #aaaaaa;
}

.Grade
{
	margin:5px 5px 5px 5px;
	height:50px;
	width:729px;
	display:inline-block;
}

h1{
	color:#ff6600;
	margin:10px 10px 10px 10px;
	text-align:center;
	font-size:48px;
	text-shadow: 2px 2px 2px #555;
}

h2{
	color:#ff6600;
	font: normal 1em/1.5 Georgia, serif;
	font-size:1.3em;
	display:inline;
}

hr{

}

#Total {
	color:#ff6600;
	text-align:right;
	font-size:16px;
	display:inline;
}


.Total
{
	color:black;
	font-size:32px;
	padding:0 0 0 0;
}
